<a href="https://colab.research.google.com/github/Saad20x/Clustering-Wine-Classification/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import json
import pandas as pd
import numpy as np

with open('/content/drive/MyDrive/DrivingParkingProfile-2022-01-03 (1).json')as f:
  profiles = json.load(f)

In [3]:
all_trips = []
for profile in profiles:
    profile_trips = profile["trips"]
    for trip in profile_trips:
        trip["profile_ID"] = profile["id"]  # Create a new variable: you can use this to go back to the profile belonging to each trip
        all_trips.append(trip)

In [4]:
profiles_df =pd.DataFrame.from_dict(profiles)

In [5]:
profiles_df

        id  ...                                    recommended_evs
0      190  ...  [{'version': {'id': 673, 'model_name': 'BMW iX...
1      905  ...                                                 []
2      256  ...  [{'version': {'id': 716, 'model_name': 'Volksw...
3      183  ...  [{'version': {'id': 715, 'model_name': 'Tesla ...
4      182  ...  [{'version': {'id': 716, 'model_name': 'Volksw...
...    ...  ...                                                ...
1001  1147  ...  [{'version': {'id': 683, 'model_name': 'Kia e-...
1002  1146  ...  [{'version': {'id': 678, 'model_name': 'Honda ...
1003  1145  ...                                                 []
1004  1144  ...  [{'version': {'id': 678, 'model_name': 'Honda ...
1005  1143  ...  [{'version': {'id': 715, 'model_name': 'Tesla ...

[1006 rows x 20 columns]

In [6]:
all_trips_df = pd.DataFrame.from_dict(all_trips)

In [7]:
all_trips_df = all_trips_df.drop(['id','car_id','driver_id','start_lat',	'start_lon',	'start_time',	'end_time', 'charger_type_nearby',	'starts_home',	'starts_office',	'can_recharge'],axis=1)

In [8]:
all_trips_df

         distance  pause_time  profile_ID
0       10.173119           0         190
1        2.749756        1300         190
2        6.234717          62         190
3        2.778533         632         190
4        2.694904         324         190
...           ...         ...         ...
181789  32.257600       28318        1143
181790  33.069342       53914        1143
181791  32.492855       27583        1143
181792   3.032398      444353        1143
181793   2.823164        4557        1143

[181794 rows x 3 columns]

In [9]:
add_dist = all_trips_df.groupby(['profile_ID']).agg({'distance': ['min','median','mean', 'max'], 'pause_time': ['min','median','mean', 'max']})

In [10]:
add_dist

            distance                        ... pause_time
                 min     median       mean  ...     median          mean     max
profile_ID                                  ...
168         0.101194   8.446184  12.908593  ...    16496.0  69379.052632  414077
169         0.198687   7.456923  21.231260  ...     3166.0  22083.946903  616425
170         0.335840   3.024641   5.986408  ...    20387.5  28093.695122  162226
171         0.119678   7.153450   7.469077  ...     2852.0  14404.240000   67065
172         0.347201   8.265653  17.082818  ...    15731.5  51763.421875  325063
...              ...        ...        ...  ...        ...           ...     ...
1262        0.115045   3.746663  18.942181  ...      776.5  10390.250000   77495
1263        0.103804   8.935488  35.411259  ...     2247.0  19595.242038  246996
1264        0.169426   2.687548  17.823232  ...     1071.0   7288.936508   76027
1265        0.164781  10.690170  21.731055  ...     6501.0  20743.920000  133323
1266        0.103360   4.925573  19.449875  ...     1116.0  12810.890511   82960

[1006 rows x 8 columns]

In [16]:
len(all_trips_df[(all_trips_df['distance'] > 100) & (all_trips_df['pause_time'] == 0)].value_counts())

25

In [33]:
len(all_trips_df[(all_trips_df['distance'] > 200) & (all_trips_df['pause_time'] == 0)].value_counts('profile_ID'))

9

In [42]:
all_trips_df[(all_trips_df['distance'] > 500)]

          distance  pause_time  profile_ID
13395   500.224528        4294         883
173613  574.795350         439        1170

In [21]:
profiles_100_big['profile_ID'].value_counts()

1172    54
1177    51
880     44
1218    44
884     41
        ..
286      1
748      1
756      1
760      1
306      1
Name: profile_ID, Length: 653, dtype: int64

In [63]:
profiles_200_big = all_trips_df.loc[all_trips_df.distance > 200]

In [108]:
profiles_200_big = all_trips_df[(all_trips_df['distance'] > 200) & (all_trips_df['pause_time'] < 3600)]

In [126]:
profiles_200_big.loc[profiles_200_big.pause_time < 3600]

          distance  pause_time  profile_ID
324     278.278397        2457         905
363     383.455717         894         905
986     228.062571        1256         183
1026    212.921777         634         183
1039    237.522699         240         183
...            ...         ...         ...
179226  227.452415         366        1149
179291  234.568304         152        1149
180124  216.697722          69        1147
181096  200.225562         645        1145
181127  201.872772        1063        1145

[605 rows x 3 columns]

In [65]:
profiles_300_big = all_trips_df.loc[all_trips_df.distance > 300]

In [133]:
profiles_300_big[profiles_300_big.pause_time < 3600].value_counts()

distance    pause_time  profile_ID
574.795350  439         1170          1
322.033788  245         313           1
313.429054  189         235           1
314.924114  865         251           1
315.341668  701         596           1
                                     ..
358.017497  189         642           1
                        1038          1
361.224794  298         1043          1
                        1220          1
301.519737  1746        1084          1
Length: 116, dtype: int64

In [67]:
profiles_400_big = all_trips_df.loc[all_trips_df.distance > 400]

In [127]:
profiles_400_big[profiles_400_big.pause_time < 3600]

          distance  pause_time  profile_ID
5848    407.211863          56         816
7506    466.502207         339         803
8731    459.049713        1546         785
34305   400.013757         281         322
57120   400.013757         281         435
138659  441.790501         411        1203
154187  441.790501         411        1025
158359  492.970521         367         991
163919  459.600165         590        1193
173613  574.795350         439        1170
173918  492.970521         367        1170
174352  439.535754         422        1168

In [69]:
profiles_400_big['profile_ID'].value_counts()

1203    2
1025    2
1170    2
521     2
873     2
1166    1
738     1
803     1
1193    1
903     1
1186    1
991     1
1168    1
816     1
785     1
883     1
1007    1
1238    1
322     1
435     1
Name: profile_ID, dtype: int64

In [70]:
profiles_500_big = all_trips_df.loc[all_trips_df.distance > 500]

In [96]:
profiles_500_big.loc[profiles_500_big.distance > 500]

          distance  pause_time  profile_ID
13395   500.224528        4294         883
173613  574.795350         439        1170

In [94]:
outlier_500 = profiles_500_big[(profiles_500_big['distance'] > 500) & (profiles_500_big['pause_time'] < 3600) ]

In [95]:
outlier_500

         distance  pause_time  profile_ID
173613  574.79535         439        1170

In [73]:
profiles_372_less = all_trips_df.loc[all_trips_df.distance < 372.0]

In [74]:
profiles_372_less

         distance  pause_time  profile_ID
0       10.173119           0         190
1        2.749756        1300         190
2        6.234717          62         190
3        2.778533         632         190
4        2.694904         324         190
...           ...         ...         ...
181789  32.257600       28318        1143
181790  33.069342       53914        1143
181791  32.492855       27583        1143
181792   3.032398      444353        1143
181793   2.823164        4557        1143

[181752 rows x 3 columns]

In [75]:
profiles_572_big = all_trips_df.loc[all_trips_df.distance > 572]

In [76]:
profiles_572_big

         distance  pause_time  profile_ID
173613  574.79535         439        1170